
<div class="play">
    <div class="info">
        <h1>Canvas info</h1>
        <input type="button"class="move" value="MOVE"/>
    </div>
    <div class="canvas">
        <canvas id="myCanvas" width="800" height="500" style="border:1px solid #000000;"> If you see this text, please update your browser</canvas>
    </div>
    <div class="info">
        <h1>Canvas info</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Ab aliquam consequuntur incidunt itaque perspiciatis sint
            tenetur unde voluptatum. A ab accusantium adipisci aperiam
            cumque debitis et illo illum labore repellat!</p>
    </div>
</div>

