
<nav class="navBar topMenu">
    <div class="inner">
        <a href="javascript:;" id="logo">DRAGON<span>GAME</span></a>
        <ul>
            <li><a href="javascript:;" class="active playGame">PLAY</a></li>
            <li><a href="javascript:;" class="heroes" data-hash="hero">HEROES</a></li>
            <li><a href="javascript:;" class="maps" data-hash="map">MAPS</a></li>
            <li><a href="javascript:;" class="showModalMap">CREATE MAP</a></li>
            <li><a href="javascript:;" class="about">ABOUT</a></li>
        </ul>
    </div>

</nav>