<div class="createMap">
    <h3>DESCRIBE THE MAP:</h3>
    <div class="left">
        <input id="name" type="text" placeholder="name">
        <input id="width" type="text" placeholder="width">
        <input id="height" type="text" placeholder="height">
        <h4>WIND</h4>
        <input id="windX" type="text" placeholder="x coordinate">
        <input id="windY" type="text" placeholder="y coordinate">
    </div>
    <div class="right">
        <input id="author" type="text" placeholder="author">
        <textarea id="about" placeholder="Comments"></textarea>
    </div>
    <div class="clear">
    </div>
    <button class="newMap">Create</button>
</div>
