<div class="maps">
    <h2>MAPS:</h2>
    <% collection.forEach(function(map){%>
    <ul>
        <span>name: <%= map.name %></span>
        <button class="add" id="<%= map._id %>">CREATE HERO</button>
        <!--<span><%= map.maxWidth %></span>
        <span><%= map.maxHeight %></span>-->
        <!--<h4>Heroes:</h4>-->
        <% map.heroes.forEach(function(hero){%>
        <div class="element">
            <h5><%= hero.name %></h5>
            <li><%= hero.type %></li>
            <li><%= hero.clan %></li>
        </div>
        <!--<hr/>-->
        <%})%>
    </ul>

    <!--<button class="remove" id="<%= map._id %>">remove</button>-->
    <%})%>
</div>
