@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Lato-Regular.woff") format("woff"),
  url("../fonts/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "LatoSemiBold";
  src: url("../fonts/Lato-Semibold.eot");
  src: url("../fonts/Lato-Semibold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Lato-Semibold.woff") format("woff"),
  url("../fonts/Lato-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "LatoLight";
  src: url("../fonts/Lato-Light.eot");
  src: url("../fonts/Lato-Light.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Lato-Light.woff") format("woff"),
  url("../fonts/Lato-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "LatoItalic";
  src: url("../fonts/Lato-Italic.eot");
  src: url("../fonts/Lato-Italic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Lato-Italic.woff") format("woff"),
  url("../fonts/Lato-Italic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "LatoMedium";
  src: url("../fonts/Lato-Medium.eot");
  src: url("../fonts/Lato-Medium.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Lato-Medium.woff") format("woff"),
  url("../fonts/Lato-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.mp{
  margin: 0;
  padding: 0;
}
.lh(@h){
  height:@h;
  line-height:@h;
}

@img-path: "../image";

.i(@name){
  background-image: url("@{img-path}/@{name}");
  background-repeat:no-repeat;
}
.inner{
  width:1070px;
  margin:0 auto;
}
.clear{
  clear:both;
}
html,body{
  .mp;
  font-family: "LatoRegular";
}

.topMenu{
  height:100px;
  background-color:rgba(0,0,0,0.3);
  position:relative;
  .inner{
    width:1070px;
    margin:0 auto;
    #logo{
      .lh(100px);
      float:left;
      font-size:36px;
      color:#77d5f7;
      text-decoration:none;
      span{
        color:#681818;
      }
    }
    ul{
      .mp;
      float:right;
      list-style:none;
      li{
        float:left;
        a{
          font-size:18px;
          text-decoration:none;
          line-height:120px;
          padding:10px 30px;
          color:#77d5f7;
          &.active{
            background-color:rgba(0,0,0,0.2);
            border-radius:5px;
          }
        }

      }
    }
  }
}

.play{
  //margin-top: 5px;
  //margin-bottom: 5px;
  background: #696969;
  //float: right;
  .canvas{
    margin-left: 300px;
    margin-right: 248px;
  }
  #myCanvas{
    background: white;
  }
    .info{
      padding-bottom: 10px;
      padding-top: 10px;
      margin-left: 300px;
      margin-right: 248px;
      align: center;
      font-family: "LatoRegular";
      font-size:22px;
      color:#333333;
      font-weight:normal;
      //margin-top:10px;
      h1{
        align-content: center;
        //position: absolute;
      }

  }
}
/*
.canvasHolder{
 .i("bg.jpg");
margin-top:-120px;
 padding-top:120px;
 height:722px;
}
*/

.ui-dialog{
  .ui-widget-header{
    background:none;
    border:none;
  }
}
.edit-dialog{
  border-radius:5px;
  .ui-dialog-titlebar-close{

    background:none;
    border:none;
    outline:none;
    //.ui-button-icon-primary{
    //  .i("close.png");
    //  width:14px;
    //  height:14px;
    //  background-position:50% 50%;
    //}
  }

}
.ui-widget-overlay{
  background:none;
  opacity:1;
  background-color: rgba(0,0,0,0.6);
  /*  z-index: 99;
  -webkit-filter: blur(10px);
  filter: url('/media/blur.svg#blur');
  filter: blur(10px);
  -webkit-filter: blur(100px);
  -moz-filter: blur(100px);
  -o-filter: blur(100px);
  -ms-filter: blur(100px);
  filter: blur(100px);
  */
}

footer{
  background-color: #414243;
  height:450px;
  position:relative;
  .inner{
    width:1070px;
    margin:0 auto;
    >div{
      float:left;
      width:33.33%;
      color:white;
      h3{
        margin-top:95px;
        font-size:26px;
        margin-bottom:45px;
      }
      h2.logo{
        .mp;
        margin-top:95px;
        margin-bottom:37px;
        .lh(39px)
      }
      ul{
        .mp;
        list-style:none;

        li{
          a{
            color:white;
            text-decoration:none;
          }
        }
      }
    }
  }
}
.bottom{
  .lh(100px);
  text-align:center;
  color:#808080;
  font-size:18px;
  position:absolute;
  left:0px;
  bottom:0px;
  width:100%;
  background-color:rgba(0,0,0,0.2);
}

.createMap{
   padding-left: 38px !important;

   h3{
     color:#333333;
     font-family: "LatoSemiBold";
     font-size:21px;
     color:#333333;
     margin-top:-10px;
   }
   h4{
     color:#333333;
     font-family: "LatoSemiBold";
     font-size:16px;
     color:#333333;
     margin-top:-10px;
   }
   input{
     position:relative;
     width:264px;
     height:46px;
     margin-bottom:24px;
     padding:0 17px;
     font-size:14px;
     outline:none;
     &:after{
       content:'*';
       color:#e85044;
       font-size:18px;
     }
   }
   textarea{
     width:264px;
     padding:0 17px;
     font-size:14px;
     resize: none;
     height: 197px;
     outline:none;
     line-height: 44px;
   }
}
.newMap {
  .lh(50px);
  width:180px;
  display:block;
  text-align:center;
  background-color:#44cbff;
  border-radius:5px;
  color:white;
  border:none;
  font-size:20px;
  float:right;
  margin-right:20px;
  cursor:pointer;
  margin-bottom:40px;
}

.createMap{
  .left{
    width:50%;
    float:left;
  }
  .right{
    width:50%;
    float:left;

  }
}
.createHero{
  padding-left: 38px !important;

  h3{
    color:#333333;
    font-family: "LatoSemiBold";
    font-size:21px;
    color:#333333;
    margin-top:-10px;
  }
  h4{
    color:#333333;
    font-family: "LatoSemiBold";
    font-size:16px;
    color:#333333;
    margin-top:-10px;
  }
  input{
    position:relative;
    width:264px;
    height:46px;
    margin-bottom:24px;
    padding:0 17px;
    font-size:14px;
    outline:none;
    &:after{
      content:'*';
      color:#e85044;
      font-size:18px;
    }
  }
  textarea{
    width:264px;
    padding:0 17px;
    font-size:14px;
    resize: none;
    height: 197px;
    outline:none;
    line-height: 44px;
  }
  .newHero {
    .lh(50px);
    width:180px;
    display:block;
    text-align:center;
    background-color:#44cbff;
    border-radius:5px;
    color:white;
    border:none;
    font-size:20px;
    float:right;
    margin-right:20px;
    cursor:pointer;
    margin-bottom:40px;
  }

}
.createHero{
  .left{
    width:50%;
    float:left;
  }
  .right{
    width:50%;
    float:left;

  }
}
.maps{
h2 {
  margin-left: 30px;
}
  .element{
    //border: 1px solid #C0A0A0;
    ////width: 150px;
    //padding: 20px 10px 10px 40px;
    //margin-left: 50px;

  }
}
.remove{
  height: 30px;
  line-height: 29px;
  width: 100px;
  display: block;
  text-align: center;
  background-color: #B2B2B2;
  border-radius: 5px;
  color: white;
  border: none;
  font-size: 19px;
  margin-left: 20px;
  cursor: pointer;
  margin-bottom: 33px;
  margin-top: 9px;
}
.add {
  height: 30px;
  line-height: 29px;
  width: 166px;
  display: block;
  text-align: center;
  background-color: #77D5F7;
  border-radius: 5px;
  color: white;
  border: none;
  font-size: 19px;
  margin-left: 20px;
  cursor: pointer;
  margin-bottom: 33px;
  margin-top: 9px;
}