<div class="createHero">
    <h3>DESCRIBE THE HERO:</h3>
    <div class="left">
        <input id="name" type="text" placeholder="name">
        <input id="type" type="text" placeholder="type">
        <input id="clan" type="text" placeholder="clan">
        <h4>POSITION</h4>
        <input id="posX" type="text" placeholder="x coordinate">
        <input id="posY" type="text" placeholder="y coordinate">
    </div>
    <div class="right">
        <input id="speed" type="text" placeholder="speed">
        <input id="rangeMove" type="text" placeholder="rangeMove">
        <input id="rangeStrike" type="text" placeholder="rangeStrike">
    </div>
    <!--<div class="clear">-->
    <!--</div>-->
    <button class="newHero">Create</button>
</div>
