<div>
    <% collection.forEach(function(hero){%>
    <li>
        <span><%= hero.name %></span>
        <span><%= hero.type %></span>
        <span><%= hero.clan %></span>
        <span><%= hero.currentMap.name %></span>
    </li>
    <button class="remove" id="<%= hero._id %>">remove</button>
    <%})%>
</div>
